*.iml
.idea/
.gradle/
build/
android/key.properties
*.jks
*.keystore
local.properties
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.dart_tool/
# Firebase
android/app/google-services.json
**/google-services.json
